h1 {
  font-size: 4rem;
}

.song {
  display: flex;
  margin: 1vw;
  width: 70vw;
}

.song-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 10vw;
  width: 56vw;
  padding: 0 2vw;
}

.song-container h2 {
  margin: 0;
}

.song-container h3 {
  margin-top: 0;
  color: grey;
}

.position-number {
  width: 100%;
  height: 100%;
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: white;
  text-shadow: 2px 2px 0px black;
}

audio {
  width: 100%;
  height: 40px;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
